*{
    margin: 0;
    padding: 0;
}
 
body{
    background-image:url(https://img.freepik.com/fotos-gratis/ilustracao-3d-de-fundo-azul-e-roxo-futurista-techno-sci-fi-luzes-cool_181624-57587.jpg?w=2000);
    padding-top: 30px;
}
 
header{
    background-image: url(https://img.freepik.com/vetores-gratis/projeto-de-conceito-abstrato-tecnologia-digital-fundo-futurista_1017-22917.jpg?w=2000);
    width: 70%;
    height: 200px;
    margin: 0 auto;
    border-radius: 4px;
}
 
#image{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4WooekbV09s2bja4K-gxLu2UNzaRKnbTo0fr_DTGfsGVP2NOFhtkX9HOA67zNlXRnGyc&usqp=CAU);
    margin-top: 25px;
    margin-left: 15px;
    float: left;
    width: 120px;
    height: 150px;
    border-radius: 4px;
}
 
#menu-principal{
    height: 35px;
    width: 550px;
    float: right;
    margin: 25px 15px 0 0 ;
    background-color: #370570;
    border-radius: 4px;
}
 
#juncao{
    /* background-color: #FBA1A1; */
    width: 70%;
    height: 100px;
    margin: 0 auto;
    margin-top: 15px ;
}
 
#esquerda1 ,#direita1{
    background-color: #370570;
    height: 100%;
    width: 546px;
    border-radius: 4px;
}
 
#esquerda1,#esquerda2{
    float: left;
    border-radius: 4px;
}
 
#direita1,#direita2{
    float:right;
    display: inline;
    border-radius: 4px;
}
 
main{
    margin: 0 auto;
    margin-top: 15px;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190222/ourmid/pngtree-laser-technology-background-backgroundpurpleadvertising-backgroundstreamline-materialstage-image_55944.jpg);
    width: 70%;
    height: 550px;
    display: flex;
    border-radius: 4px;
}
 
#esquerda2 , #direita2{
    background-image: url(https://img.freepik.com/vetores-gratis/vetor-de-fundo-de-tecnologia-digital-com-borda-de-hexagono-em-tom-roxo-escuro_53876-126069.jpg);
    height: 550px;
    width: 25%;
    border-radius: 4px;
}
 
#esquerda2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly ;
}
 
.quadrado-esquerdo{
    background-image: url(https://img.freepik.com/vetores-gratis/vetor-de-fundo-de-tecnologia-digital-com-borda-de-hexagono-em-tom-roxo-escuro_53876-126069.jpg);
    height: 260px;
    width: 260px;
    /* margin-top: 10px;
    margin-left: 18px; */
    border-radius: 4px;
}
 
#central{
    background-color: black;
    height: 550px;
    width: 47%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    display: flex;  
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
    border-radius: 4px;
}
 
.quadrado-meio{
    height: 150px;
    width: 47%;
    background-image: url(https://img.pikbest.com/backgrounds/20190827/technology-dotted-purple-background-picture_2760153.jpg!c1024wm0);
    /* margin-top: 10px; */
    border-radius: 4px;
}

#retangulo-meio{
    height: 150px;
    width: 96%;
    background-image: url(https://img.pikbest.com/backgrounds/20190827/technology-dotted-purple-background-picture_2760153.jpg!c1024wm0);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}
 
footer{
    width: 70%;
    height: 100px;
    background-color: #370570;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 35px;
    border-radius: 4px;
}

